
body{
    background: #f4f4f4f4;
    margin: 0;
    padding: 0;
}

nav{
    /* background: rgb(23, 37, 43); */
    background-color: #ffff;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0px 30px;

}



.logo_brand,.profile_account{
    text-decoration: none;
    color: #2b2b2b;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_brand{
    font-size: 20px;
    font-weight: 800
}



.logo_brand span,.profile_account span{
    margin: 0px 5px 0px 5px ;
}
